{% extends "!layout.html" %}

{% set title = 'Course on Practical Neuroimaging in Python' %}

{% block rootrellink %}
  <li><a href="{{ pathto('index') }}">Home</a> |&nbsp;</li>
  <li><a href="https://github.com/practical-neuroimaging/pna-notebooks">Notebooks</a> |&nbsp;</li>
  <li><a href="http://nipy.bic.berkeley.edu/practical_neuroimaging">Data</a> |&nbsp;</li>
  <li><a href="https://calmail.berkeley.edu/manage/list/listinfo/practical_fmri@lists.berkeley.edu">Mailing list</a> |&nbsp;</li>
{% endblock %}
